body {
  background-image: url("../image/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden; 
}

.background{
  position: relative;
  width: 100%;
  height: 100vh; 
  z-index: 0; 
}

