
body {
  background-image: url("../image/background.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden; 
}

.background{
  position: relative;
  width: 100%;
  height: 100vh; 
  z-index: 0; 
}

/* Language buttons */
.danish {
    position: absolute;
    bottom: 0%;
    left: 9%;
    z-index: 5;
    width: 3vw;
    height: 3vw;
    background-image: url("../image/danish.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
   gap: 10px;
}

.english {
    position: absolute;
    bottom: 0%;
    left: 1%;
    z-index: 5;
    width: 3vw;
    height: 3vw;
    background-image: url("../image/english.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    gap: 10px;
}

.german {
    position: absolute;
    bottom: 0%;
    left: 5%;
    z-index: 5;
    width: 3vw;
    height: 3vw;
    background-image: url("../image/german.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    gap: 10px;
}


/* Bubbles */
.bobbel {
    position: absolute;
    top: 35%;
    right: 72%;
    z-index: 5;
    width: 8vw;
}

.bobbel2 {
    position: absolute;
    top: 43%;
    right: 10%;
    z-index: 10;
    width: 8vw;
}

.bobbel4 {
    position: absolute;
    top: 35%;
    right: 92%;
    z-index: 5;
    width: 5vw;
}

.bobbel3 {
    position: absolute;
    top: 43%;
    right: 40%;
    z-index: 10;
    width: 5vw;
}

/* Crab */
.crab {
    position: absolute;
    bottom: 50px;
    right: 770px;
    z-index: 9999;
    width: 30vw;
     animation: crab 5s linear infinite;
}

@keyframes crab {
     0% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(-10px) scaleX(1);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}


/* Plants */
.greencoral {
    position: absolute;
    bottom: 80px;
    right: 300px;
    z-index: 1;
    width: 10vw;
    animation: greencoral 6s  infinite;
}

.greencoral {
  transform-origin: center bottom;
  animation: sway 3s ease-in-out infinite alternate;
}

@keyframes sway {
  0%   { transform: rotate(-3deg); }
  100% { transform: rotate(3deg); }
}

.greencoral-1 {
    position: absolute;
    bottom: 80px;
    left: 200px;
    z-index: 1;
    width: 10vw;
    animation: greencoral 6s  infinite;
}

.greencoral-1 {
  transform-origin: center bottom;
  animation: sway 3s ease-in-out infinite alternate;
}

@keyframes sway {
  0%   { transform: rotate(-2deg); }
  100% { transform: rotate(2deg); }
}

.greencoral-2 {
    position: absolute;
    bottom: -60px;
    right: 340px;
    z-index: 1;
    width: 25vw;
    animation: greencoral 6s  infinite;
}

.greencoral-2 {
  transform-origin: center bottom;
  animation: sway 3s ease-in-out infinite alternate;
}

@keyframes sway {
  0%   { transform: rotate(-1deg); }
  100% { transform: rotate(1deg); }
}

